body {
    background-color: #16161d;    
}

nav {
    box-shadow: 0px 5px 20px #16161d;
}

h1 {
    text-align: center;
}

.container .stl {
    color: aliceblue;
}

.container .cdst usr {
    color: aliceblue;
}

.code-img {
    display: flex;
    justify-content: center;    
}

.imagem1 img {
    box-shadow: 5px 5px 20px #16161d;
    border-radius: 20px;
}
