body{
    color: white;
    background-color: #16161d;
    font-family: Arial, Helvetica, sans-serif;
}

.image{
    display: flex;
    justify-content: center;
    min-width: 100%;
}

.image figure img{
    box-shadow: 5px 5px 10px #16161d;
    border-radius: 10px;
    border: 1px solid #ffffff;
}

h1{
    text-shadow: 1px 1px 5px #ffffff;
    text-align: center;
}

a{
    text-shadow: 1px 1px 5px #ffffff;
    color: #ffffff;
}


