<!DOCTYPE html>
<html lang="pt-br" xmlns:th="https://thymeleaf.org" xmlns:layout="https://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta name="author" content="ISAAC LUZ">    
    <meta charset="UTF-8">
    <title>Sistema de Cadastro de Pessoas Desaparecidas</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">

    <!-- bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">

    <!-- favicon -->
    <link href=" " rel="shortcut icon" type="image/png">

    <!-- css externo -->
    <link href="css/estilo.css" rel="stylesheet" type="text/css" media="all">
</head>

<body>
    <!-- nav bar -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">Desaparecidos</a>
            <div class="collapse navbar-collapse">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item"><a class="navbar-brand" href="/cadastro">Cadastrar Pessoa</a></li>
                    <li class="nav-item"><a class="navbar-brand" href="/buscar">Buscar Pessoas</a></li>                    
                    <li class="nav-item"><a class="navbar-brand" href="/lista">Listar Pessoas</a></li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container mt-5">
        <h1>Bem-vindo ao Sistema de Cadastro de Pessoas Desaparecidas</h1>
        <p class="text-light">Utilize o menu na aba "Cadastrar Pessoas" para cadastrar ou buscar pessoas desaparecidas.</p>
    </div>

</body>

</html>