<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- CSS -->

    <link rel="stylesheet" href="css/estilos.css" type="text/css" media="all">
</head>
<body>
    <marquee behavior="" direction="">
        <h1> Olá, Mundo Em Spring!! </h1>
    </marquee>
    <hr>
    <div class="imagem">
        <figure>
            <img src="img/goku_bombado.webp" alt="goku_bombado">
        </figure>
    </div>
    <script src="js/script.js"></script>
</body>
</html>