body {
    font-family: Arial, Helvetica, sans-serif;
    padding: 75px;
    margin: 0px auto;
    max-width: 100%;
}

h1 {
    text-align: center;
}

hr {
    margin: 30px 0px;
}

form {
    padding: 0px;
}

input, select {
    border: none;
    outline: none;
    border-bottom: 1px solid #16161d;
    padding: 5px 15px;
    margin: 30px 15px;
}

select {
    background-color: #fff;
}

.nome {
    width: 20%;    
}

.sobrenome {
    width: 20%;
}

.telefone {
    width: 20px;
}

.email {
    width: 20px;
}

.genero {
    width: 20px;
}

.cep {
    width: 50;
}

.cidade {
    width: 50;
}

.endereco {
    width: 50px;
}

button {
    width: 300px;
    height: 50px;
    font-size: 30px;
    font-weight: bolder;
    border-radius: 15px;
    color: white;
    background-color: #16161d;
    transition: 5s ease;
}

button:hover {
    color: #16161d;
    background-color: #0f0;
    transition: 5s ease;
}