/* Estilos gerais */
body {
    color: white;
    background-color: #16161d;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    text-align: center;
    margin-bottom: 30px;
    color: white;
}

.container .cdstrusr {
    color: aliceblue;
}